*.md~
*.py~
*.pyc
#*#
*.pkl
.#*
*.csv
*.swp
data/*.csv
data/*.zip
data/*.sqlite
index/data/*.csv
index/data/*.zip
index/data/*.sqlite
!index/data/irregular-papers/*.txt
.idea/misc.xml
.idea/modules.xml
*.db
.idea/workspace.xml
.idea/web-retrieval-group9.iml
